extends ./template.jade

block title
  title= title

block content
    p
      div. Federico Corò
      div. Andrea Madotto
      div. Lorenzo Paciotti
      div. Andrea Galloni
      div. Amdrea Ceccarelli
      div. Marco Messini
      div. Jacopo Castellini
      div. Luca Rinaldi
