extends ./template.jade

block title
  title= title

block content
  aside#main_content.about
      h3
        a.anchor(name='welcome-to-github-pages', href='#welcome-to-github-pages')
          span.octicon.octicon-link
        | About us
      p
        | Main page of the great student group of the university of Perugia.
        | In our repository you can find our school projects, usefull for begginers programmer or other students.
        | We try to comment and explain the code as we can, but at the same time isn't very simple. [test2]
