extends ../template.jade

block title
  title= title

block content
 aside#main_content.about
    h3
     | Guide
    p
     | descrizione
         
    section.repoList
      table.menu-materie
        tbody
          tr
            td
              | \Learning a little C$ 
              span.comand
                | ls -l
          tr.repo
            td
            td
              | Puntatori
          
          tr
            td
              | \Latex$ 
              span.comand
                | ls -l
          tr.repo
            td
            td
              | Scrivere Algoritmi (Algoritm2e)
          tr.repo
            td
            td
              | Disegnare grafi